body {
	background-color: #999933;
	padding: 5px;
}
#btn {
	height: 40px;
	font-size: 20pt;
	color: white;
	background-color: rgb(68, 30, 112);
	padding: 5px;
	margin: 30px auto;
	border-radius: 50px;
	transition: background-color -5s;
}
.btn:hover {
	background-color: rgb(121, 37, 133);
	color: white;
}
#main {
	text-align: center;
	border: solid #003300 5px;
	background-color: #ffffff;
}
#h1 {
	text-align: center;
}
a {
	text-decoration: none;
	display: inline-block;
	padding: 20px;
	font-size: 30px;
	width: 40px;
	text-align: center;
}
.back:hover {
	background-color: rgb(121, 37, 133);
	color: white;
}
.next:hover {
	background-color: rgb(121, 37, 133);
	color: white;
}
.back {
	border-radius: 50%;
	background-color: rgb(68, 30, 112);
	color: white;
}
.next {
	border-radius: 50%;
	background-color: rgb(68, 30, 112);
	color: white;
}
.img {
	
}